body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #a5b9c4;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #92a8b3;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
    text-align: left;
}
