body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-family: "Roboto Flex","Teko", sans-serif, serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
    font-size: 1.8rem;
    text-align: center;
    flex: 1;

}

h2 {
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #a5b9c4;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #92a8b3;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
    text-align: left;
}


.link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: #727272;
    text-decoration: none;
    font-size: 50px;
}

h1 a:hover {
    color: #000000;
    text-decoration: none;
}